.add_post_form {
  &__title {
    border: none;
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    outline-color: #60b3fb;
    height: 39px;
    font-size: 36px;
  }
  &__body {
    min-height: 400px;
    outline-color: #60b3fb;
  }
  &__toolbar{
    padding-bottom: 10px;
  }
}