.add_post {
  .content {
    padding-top: 135px;
  }
  .btn-toolbar {
    margin: auto;
  }
  &_form {
    &__title {
      input {
        border: none;
        padding: 0;
        margin: 0;
        display: block;
        width: 100%;
        outline-color: #60b3fb;
        height: 39px;
        font-size: 36px;
      }
    }
    &__body {
      min-height: 400px;
      outline-color: #60b3fb;
    }
    &__toolbar {
      position: fixed;
      background-color: #e6e5e5;
      top: 70px;
      padding: 10px;
      -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
  }
}