.posts {
  &__item {
    max-width: 1200px;
    margin: 15px auto 0 auto;
    .box-shadow(0 0 3px rgba(0, 0, 0, 0.3));
    position: relative;
    z-index: 2;
    background: #fff;
    padding: 5px 15px 30px 15px;
    h1 {
      a {
        color: #333;
      }
    }
  }
}