<div class="alert alert-status alert-info shadow">
    <h4>{{i18n 'Excellent! Your article has been submitted for publication.'}}</h4>
    {{i18n "During the day, our editors will check your article."}}
</div>