<div class="box-message box-message-success">
    <h4>{{i18n 'Excellent! Your article has been submitted for publication.'}}</h4>
    {{i18n "While our editors won't check the article, it won't be available for editing."}}
</div>