<div class="box-message box-message-status box-message-primary">
    <h4>{{i18n 'Excellent! Your article has been submitted for publication.'}}</h4>
    {{i18n "During the day, our editors will check your article."}}
</div>