<div class="box-message box-message-success">
    <h4>{{i18n 'Congretulations! Your email adress have been confirmed.'}}</h4>
    {{i18n 'And now... You can write your first post and make our world a little bit better!'}}
</div>