<div class="content-center">
    <div class="user">
        {{> usersTabs}}
        <div class="user__profile">
            <form role="form" class="js-form" novalidate="novalidate">
                <div class="form-group">
                    <label for="password">{{i18n 'Old password'}}</label>
                    <input type="password" class="form-control js-validate-input js-model-field"
                           name="password"
                           id="password"/>
                </div>
                <div class="form-group">
                    <label for="new-password">{{i18n 'New Password'}}</label>
                    <input type="password" class="form-control js-validate-input js-model-field"
                           name="newPassword"
                           id="new-password"/>
                </div>
                <div class="form-group">
                    <label for="confirm-password">{{i18n 'Confirm password'}}</label>
                    <input type="password" class="form-control js-validate-input js-model-field"
                           name="confirmPassword"
                           id="confirm-password"/>
                </div>
                <button type="submit" class="reset-password-form__submit-btn btn btn-primary">{{i18n 'Change'}}</button>
            </form>
        </div>
    </div>
</div>