<div class="container auth">
    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <div class="auth-form font-color-yellow">
                <ul class="auth-form__tabs clearfix">
                    <li class="{{#if isLoginTab}}active{{/if}}">
                        <a href="/{{locale}}/login"
                           class="js-router-link">{{i18n 'Login'}}</a></li>
                    <li class="{{#if isRegistrationTab}}active{{/if}}">
                        <a class="js-router-link"
                           href="/{{locale}}/registration">{{i18n 'Registration'}}</a>
                    </li>
                </ul>

                <div class="auth-form__content">
                    {{#if isLoginTab}}
                        {{> login}}
                    {{/if}}
                    {{#if isRegistrationTab}}
                        {{> registration}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>