<div class="password-remind">
    <div class="js-password-remind-messages password-remind__messages hide"></div>
    <form role="form" novalidate="novalidate" class="password-remind">
        <h4>{{i18n 'Please enter the email that you used to log on to the site.'}}</h4>

        <div class="form-group">
            <label for="email">{{i18n 'Email address'}}</label>
            <input type="text" class="form-control js-email-field" name="email" id="email"/>
        </div>
        <button type="submit" class="btn btn-primary js-send-password">{{i18n 'Password repair'}}</button>
    </form>
</div>