extend ../layoutView
block content
    .container.add_post.js-module(data-module="posts/addPostModule")
        .add_post__toolbar.row.js-editor-toolbar
            .modal.fade.js-add-link-modal
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                            h4#myModalLabel.modal-title Добавть ссылку
                        .modal-body
                            input(type="text", class="form-control", placeholder="Адрес ссылки")
                            br
                            input.js-add-link-modal-link-name(type="text", class="form-control", placeholder="Название ссылки")
                        .modal-footer
                            button.btn.btn-default(type="button", data-dismiss="modal") Отмена
                            button.btn.btn-primary.js-add-link-save(type="button") Сохранить
            .col-md-10
                .btn-toolbar(data-role='editor-toolbar', data-target='#editor')
                    .btn-group
                        a.btn.btn-default(data-edit='bold', title='Bold (Ctrl/Cmd+B)')
                            i.fa.fa-bold
                        a.btn.btn-default(data-edit='italic', title='Italic (Ctrl/Cmd+I)')
                            i.fa.fa-italic
                        a.btn.btn-default(data-edit='strikethrough', title='Strikethrough')
                            i.fa.fa-strikethrough
                        a.btn.btn-default(data-edit='underline', title='Underline (Ctrl/Cmd+U)')
                            i.fa.fa-underline
                    .btn-group
                        a.btn.btn-default(data-edit='insertunorderedlist', title='Bullet list')
                            i.fa.fa-list-ul
                        a.btn.btn-default(data-edit='insertorderedlist', title='Number list')
                            i.fa.fa-list-ol
                    .btn-group
                        a.btn.btn-default.add_post__toolbar__add_image(title='Add image')
                            i.fa.fa-picture-o
                            form(action='/upload_img', method='POST', enctype='multipart/form-data')
                                input(type='file', name='image', data-edit='insertImage')
                    .btn-group
                        a.btn.btn-default(data-edit='addLink', title='Hyperlink')
                            i.fa.fa-link
                        a.btn.btn-default(data-edit='unlink', title='Remove Hyperlink')
                            i.fa.fa-cut
                    .btn-group
                        a.btn.btn-default(data-edit='undo', title='Undo (Ctrl/Cmd+Z)')
                            i.fa.fa-undo
                        a.btn.btn-default(data-edit='redo', title='Redo (Ctrl/Cmd+Y)')
                            i.fa.fa-repeat
            .col-md-2
                button.btn.btn-primary.add_post__toolbar__send.js-submit-post Отправить
        .add_post__content.row
            h1.add_post__title
                input#title.js-title(type="text", name="title", value="Здесь должен быть загловок статьи")
            div#body.js-body-editor.add_post__body(name="body") Здесь должен быть текст вашей статьи