<div class="container">
    <div class="row content__post js-module" data-module="posts/postDetailModule">
        <div class="js-meta-information"></div>
        <h1>{{post.title}}</h1>
        <div>{{{post.body}}}</div>
    </div>
</div>