extend ../layoutView
block content
    .container
        .row.content__post.js-module(data-module="posts/postDetailModule")
            h1 #{post.title}
            .js-meta-information
            p  !{post.body}