.login-form {
  background-color: #ebebeb;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
  h1 {
    margin-top: 0;
  }
}
