<div class="box-message box-message-warning">
    <h4>
        <span class="glyphicon glyphicon-warning-sign"></span>
        {{{i18n "To enable editor, you need to <a href='/{{locale}}/login' class='js-router-link'>sign in</a>." locale}}}
    </h4>
</div>