.auth {
  @media (min-width: @screen-xs-max) {
    width: 650px;
    margin: 10px auto 0 auto;
  }
  .nav-tabs {
    &__login {
      width: 30%;
    }
    &__registration {
      width: 70%;
    }
  }
  &-form {
    background-color: #fff;
    &__content {
      padding: 10px;
    }
    &__login-btn {
      display: block;
      font-size: 16px;
      width: 100%;
    }
    &__registration-btn {
      display: block;
      font-size: 16px;
      width: 100%;
    }
    &__remind-password-link {
      display: block;
      padding-top: 10px;
      text-align: center;
      font-size: 16px;
    }
  }
}

