.user {
  &__profile {
    background-color: #fff;
    padding: 15px;
    .box-shadow(0 0 2px 0 rgba(0, 0, 0, 0.3));
    &__info {
      padding-bottom: 15px;
      &__avatar {
        float: left;
      }
      &__description {
        float: left;
        padding-left: 15px;
      }
    }
    &__block {
      padding: 10px;
      h3 {
        margin: 0;
      }
    }
    &__footer {
      border-top: 1px solid #D3D3D3;
      padding-top: 15px;
    }
  }
  .posts {
    padding-top: 15px;
  }
}