<div class="content-center">
    <div class="intro clearfix">
        <h1>Soshace - популярный онлайн журнал.</h1>

        <p>Автором может стать каждый! Для этого нужно только зарегистроваться.</p>
    </div>
</div>