<div class="content-center hidden-xs">
    <div class="intro">
        <h1>Soshace - место сбора активных людей.</h1>

        <div><a href="/{{locale}}/posts/new">Напиши</a> о своих увлечениях, интересных людях, местах и событиях.</div>
        <div>Тебе нужно только <a href="/{{locale}}/registration">зарегистроваться.</a></div>
    </div>
</div>