<div class="content-center hidden-xs">
    <div class="intro clearfix">
        <h2>Soshace - место встречи увлеченных людей.</h2>

        <p><a class="js-router-link" href="/{{locale}}/posts/new"><strong>Напиши</strong></a> о своем хобби, интересном человеке, месте или событии.</p>
        <p>Тебе нужно только <a class="js-router-link" href="/{{locale}}/registration"><strong>зарегистрироваться.</strong></a></p>
    </div>
</div>