<!--TODO: избавиться от класса tab-pane-->
<div class="tab-pane active">
    <form role="form">
        <div class="form-group">
            <label for="email">{{i18n 'Email address'}}</label>
            <input type="email" class="form-control js-validate-input js-model-field" name="email"
                   id="email"
                   placeholder="{{i18n 'Enter email'}}">
        </div>
        <button type="submit" class="btn btn-primary js-sign-up">{{i18n 'Sign up'}}</button>
    </form>
</div>