<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{i18n title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!--Откомпилированные compass файлы, версия берется из package.json-->
    <link href="/static/styles/styles.css?v=0.0.3" rel="stylesheet">
</head>
<body class="bg-color-green undefined">
<div class="body-messages js-body-messages"></div>
<div class="header">
    <div class="container">
        <div class="row"><a href="/" class="header__logo">
            <img src="/static/images/logo.png" alt="Soshace" class="img-responsive"></a></div>
    </div>
</div>
<div class="content">
    {{{body}}}
</div>
{{#if isDevelopment}}
    <script src="/static/scripts/libs/require.js"></script>
    <script src="/static/require.conf.js"></script>
    <script src="/static/scripts/app.js"></script>
{{/if}}
{{#if isProduction}}
    <!-- Yandex.Metrika counter-->
    <noscript>
        <div>
            <img src="//mc.yandex.ru/watch/23765065" style="position:absolute; left:-9999px;" alt="">
        </div>
    </noscript>
    <!-- /Yandex.Metrika counter-->
    <!--Минифицированные скрипты, версия берется из package.json-->
    <script src="/static/scripts.min.js?v={{version}}"></script>
{{/if}}
</body>
</html>