/*Основные цвета*/
.font-color-yellow {
  color: #9a6202;
}

.font-color-green {
  color: #4D8643;;
}

.font-color-blue {
  color: #406374;
}

.bg-color-yellow {
  background-color: #FDD66B;
  a {
    .font-color-yellow;
  }
  a.btn {
    color: #fff;
  }
}

.bg-color-green {
  background-color: #aaeb9f;
  a {
    .font-color-green;
  }
  a.btn {
    color: #fff;
  }
}

.bg-color-blue {
  background-color: #91cfee;
}