.header {
  font-size: 18px;
  width: 100%;
  z-index: 2;
  color: #fff;
  background-color: #333;
  &-content {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
  &__logo {
    display: block;
    padding: 11px 0 8px 0;
    float: left;
    a {
      display: block;
    }
    img {
      width: 200px;
    }
  }
  &__tabs {
    float: right;
  }
  &__tab {
    text-align: center;
    height: 50px;
    border-right: #333 1px solid;
    border-left: #333 1px solid;
    float: left;
    padding: 24px 15px 51px 15px;
    &-link {
      color: #fff;
      text-decoration: none;
      line-height: 29px;
    }
    &-link:hover {
      color: #fff;
      background: #0b0a0a;
      text-decoration: none;
    }
    &-active {
      line-height: 29px;
      background: #0b0a0a;
    }
    .glyphicon {
      vertical-align: top;
      line-height: 25px;
      margin-right: 3px;
    }
  }
}