@import 'vendors/bootstrap';
@import 'vendors/font-awesome';
@import 'vendors/prettify';
@import 'colors';
@import 'controls';
@import 'messages';
@import 'pages/posts/posts';
@import 'pages/posts/postEdit';
@import 'pages/auth';
@import 'pages/user';
@import 'header';
@import 'tabs';

img.center {
  margin: 0 auto;
}

code {
  white-space: normal;
}

label {
  font-weight: normal;
  .font-color-grey;
  margin-left: 2px;
  font-style: italic;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  @media (min-width: @screen-xs-max) {
    .bg-color-grey-light;
  }
  @media (max-width: @screen-xs-max) {
    background-color: #fff;
  }
}

.intro {
  margin-top: 10px;
  background: url('/static/images/intro.jpg');
  background-repeat: no-repeat;
  .background-size(cover);
  padding: 0 10px 7px 10px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  h2 {
    margin: 8px 0 3px 0;
  }
  a {
    color: #fff;
    text-decoration: underline;
  }
  p {
    margin: 4px 0;
  }
}

.btn, .btn:focus {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
}

.error {
  background-color: #f2dede;
}

.ya-metrika {
  &__img {
    position: absolute;
    left: -9999px;
  }
}

.content {
  &-center {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.disable-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &__bg {
    background-color: #fff;
    .opacity(0.4);
    height: 100%;
  }
  &__ban {
    position: absolute;
    top: 30px;
    text-align: center;
    width: 100%;
    font-size: 70px;
    color: #FF5754;
  }
  &__comment {
    position: absolute;
    top: 30px;
    background-color: #fff;
    width: 30%;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
  }
}