@import 'vendors/bootstrap';
@import 'vendors/font-awesome';
@import 'vendors/prettify';
@import '404';
@import 'colors';
@import 'controls';
@import 'messages';
@import 'pages/posts/posts';
@import 'pages/posts/postEdit';
@import 'pages/auth';
@import 'pages/user';
@import 'backgrounds';
@import 'header';
@import 'tabs';

img.center {
  margin: 0 auto;
}

code {
  white-space: normal;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  .background-size(cover);
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 15px;
  line-height: 1;
}

.intro {
  background: rgba(0, 0, 0, 0.5);
  padding: 0 30px 20px 30px;
  color: #fff;
  font-size: 16px;
  margin-bottom: 15px;
}

.btn, .btn:focus {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
}

.error {
  background-color: #f2dede;
}

.disable-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &__bg {
    background-color: #fff;
    .opacity(0.5);
    height: 100%;
  }
  &__comment {
    position: absolute;
    top: 50px;
    left: 50%;
    background-color: #fff;
    width: 30%;
    margin-left: -15%;
    padding: 15px;
    text-align: center;
    .box-shadow(0 0 3px rgba(0, 0, 0, 0.3));
  }
}

.ya-metrika {
  &__img {
    position: absolute;
    left: -9999px;
  }
}

.content {
  padding: 15px 0;
  &-center {
    max-width: 1200px;
    margin: 0 auto;
  }
}