@import 'libs/bootstrap';
@import 'libs/font-awesome';
@import 'libs/prettify';
@import '404';
@import 'colors';
@import 'controls';
@import 'modules/posts/posts';
@import 'modules/posts/addPost';
@import 'modules/auth';

img.center {
  margin: 0 auto;
}

code {
  white-space: normal;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.btn, .btn:focus {
  border-radius: 0;
  border: none;
  outline: none;
}

.form-control {
  border-radius: 0;
}

.bg-symbols {
  background-image: url(/static/images/bg-symbols.png);
}

.body-messages {
  position: fixed;
  z-index: 1000;
  top: 20px;
  right: 20px;
  .alert {
    margin-bottom: 10px;
  }
}

.error {
  background-color: #f2dede;
}

.disable-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  .opacity(0.5);
}

.header {
  font-weight: bold;
  position: fixed;
  width: 100%;
  z-index: 2;
  background: #3e3d3d;
  .box-shadow(0 1px 2px 0 rgba(50, 50, 50, 0.3));
  &-content {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
  &__logo {
    display: block;
    padding-top: 6px;
    float: left;
    a {
      display: block;
    }
    img {
      width: 140px;
    }
  }
  &__tabs {
    float: right;
  }
  &__tab {
    color: #fff;
    text-align: center;
    height: 50px;
    border-right: #3e3d3d 1px solid;
    border-left: #3e3d3d 1px solid;
    float: left;
    padding: 11px 15px 0 15px;
    &-link {
      color: #fff !important;
      line-height: 24px;
    }
    &-link:hover {
      color: #fff !important;
      text-decoration: none;
      background: #282727;
    }
    &-active {
      line-height: 24px;
      background: #282727;
    }
    .glyphicon {
      font-size: 20px;
      vertical-align: top;
      margin-right: 3px;
    }
  }
}

.content{
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
}

.body-load {
  overflow: hidden;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.ya-metrika {
  &__img {
    position: absolute;
    left: -9999px;
  }
}