.tooltip.error-tooltip {
  font-size: 14px;
  &.tooltip.error-tooltip.in {
    opacity: 1;
  }
  &.right .tooltip-arrow {
    border-right-color: #f24c48;
  }
  .tooltip-inner {
    background-color: #f24c48;
  }
}