.posts {
  &__item {
    margin-top: 15px;
    .box-shadow(0 0 3px rgba(0, 0, 0, 0.3));
    background: #fff;
    padding: 5px 15px 30px 15px;
    h1 {
      a {
        color: #333;
      }
    }
  }
}