.posts {
  h1 {
    a {
      color: #333;
    }
  }
  &__preview {
    position: relative;
    padding: 0 15px;
    background: #fff;
    &__footer {
      border-bottom: 1px solid #D3D3D3;
      padding-bottom: 15px;
    }
    &:last-child {
      .posts__preview__footer {
        border-bottom: none;
      }
    }
    &__toolbar {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &__full {
    position: relative;
    padding: 0 15px 15px 15px;
    background: #fff;
    &__toolbar {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}