<div class="alert alert-success shadow">
    <h4>{{i18n 'Congratulations! Your email address have been confirmed.'}}</h4>
    {{i18n 'And now... You can write your first post and make our world a little bit better!'}}
</div>