<div class="modal post-edit-modal-add-link fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="myModalLabel" class="modal-title">{{i18n 'Add Link'}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input id="linkUrl" class="js-add-link-modal-link-url form-control" type="text"
                           placeholder="{{i18n 'Link Address'}}"/>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">{{i18n 'Cancel'}}</button>
                <button class="btn btn-primary js-add-link-save" type="button">{{i18n 'Save'}}</button>
            </div>
        </div>
    </div>
</div>