<div class="posts content-center">
    <div class="posts__item clearfix {{ownerId}}">
        <div class="js-meta-information"></div>
        <h1>{{post.title}}</h1>
        <div>{{{post.body}}}</div>
    </div>
</div>