{{> intro}}
{{#if posts}}
    <div class="content-center">
        <div class="js-posts-list posts clearfix">
            {{#if backend}}
                {{#each posts}}
                    {{> postPreview}}
                {{/each}}
            {{/if}}
        </div>
    </div>
{{else}}
    <div class="content-center">
        <div class="box-message box-message-warning">
            <h4>
                <a class="js-router-link hidden-xs" href="/{{locale}}/posts/new">
                    {{i18n 'Here could be your posts'}}
                </a>
                <span class="hide visible-xs">{{i18n 'There is no articles'}}</span>
            </h4>
        </div>
    </div>
{{/if}}