<div class="vendor-block">
    <!--TODO: использовать переменную для директории картинок-->
    <img src="/static/images/sleeping_fox-wallpaper-1920x1080.png" class="img-responsive center"/>
    <div class="vendor-block__content"></div>
</div>
<div class="posts content-center">
    <div class="posts__item clearfix">
        <div class="js-meta-information"></div>
        <h1>{{post.title}}</h1>
        <div>{{{post.body}}}</div>
    </div>
</div>