{{#if posts}}
    <div class="content-center">
        <div class="js-posts-list posts clearfix">
            {{#if backend}}
                {{#each posts}}
                    {{> postPreview}}
                {{/each}}
            {{/if}}
        </div>
    </div>
{{else}}
    <div class="content-center">
        <div class="box-message box-message-warning">
            <h3>
                <a class="js-router-link" href="/{{locale}}/posts/new">
                    {{{i18n 'Here could be your posts'}}}
                </a>
            </h3>
        </div>
    </div>
{{/if}}