<div class="modal post-edit-modal-add-link fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="myModalLabel" class="modal-title">{{i18n 'Do you want to remove this post?'}}</h4>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">{{i18n 'Cancel'}}</button>
                <button class="btn btn-primary js-modal-post-delete" type="button">{{i18n 'Yes'}}</button>
            </div>
        </div>
    </div>
</div>